body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-list {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  margin: auto;
  padding: 0 0px 30px 0px;
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
}

.todo-list > p {
  height: 44px;
  margin: 0;
  display: flex;
  align-items: center;
}

.list-header {
  height: 100px;
  background-color: teal;
  color: whitesmoke;
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
  width: 80%;
  border-bottom: 1px solid #cecece;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.list-box {
  margin-right: 10px;
}

.add-form{
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-form > input {
  flex: 2 0 40%;
  height: 30px;
  margin: 2px;
}

.add-form > button {
  flex: 1 0 20%;
  border: none;
  height: 2em;
  font-family: VT323, monospace;
  font-size: 18px;
  color: white;
  background: teal;
  margin: 2px;
  cursor: pointer;
}

.delete {
  margin-left: 10px;
  background-color: #282c34;
  color: #cecece;
  font-weight: bold;
  font-size: 22px;
  margin-top: 5px;
  cursor: pointer;
  text-decoration: none;
  border-style: none;
}

.delete:hover {
  text-decoration: none;
  color:#FF0000;
}
